html body {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    width: 100%;
    color: #ffffff;
}

h3 {
    color: white;
}

.parentContainer {
    padding: 0;
}

.header {
    background-color: #000000;
    height: 100%;
    /* width: 100%; */
    margin: 0;
}

.logo {
    padding: 50px;
    padding-left: 130px;
}

.containerForLink {
    /* display: flex; */
    /* align-items: center; */
    padding: 0;
    width: 50%;
    position: relative;
}

/* SECTION LOGIN OR REDISTRATION OR CREATEEVENT*/
.linkForEnter {
    color: white;
    box-align: right;
    padding-left: 40%;
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}

.logInLink, .registrationLink,
.createEventLink {
    cursor: pointer;
    color: white;
}


.left_block {
    float: left;
    margin-right: 10px;
}

.right_block {
    float: right;
    margin-left: 10px;
}

/* END SECTION LOGIN OR REDISTRATION*/
/************************************************************/
/** LOG IN FORM  **/
.logIn {
    background-color: #f7861dd2;
    z-index: 9999;
    display: none;
    width: 40%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
}

.formLogIn {
    padding: 10%;
    margin: 0 auto;
}

.exitFromLogIn {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

/** END LOG IN FORM **/
/************************************************/
/* REGESTRATION FORM */
.registration {
    background-color: #f7861dd2;
    z-index: 9999;
    display: none;
    width: 40%;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
}

.exitFromRegistration {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.formRegistration {
    padding: 5%;
    margin: 0 auto;
}

.size {
    height: 110px;
}
/* END REGISTRATION FORM */
/************************************/
/* START CREATE EVENT BLOCK */
.createEvent{
    background-color: #f7861dd2;
    z-index: 9999;
    display: none;
    width: 40%;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
}

.exitFromCreateEvent{
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.formCreateEvent{
    padding: 5%;
    margin: 0 auto;
}

/* END CREATE EVENT BLOCK */

.baseContent {
    background-color: #272626;
    height: 100%;
    /* width: 100%; */
}

/* FOR PIC IN SLIDESHOW*/
.pic {
    width: 45%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textIndexPage {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}


.paddingBottomTestAboutIndex {
    padding-bottom: 20px;
}




/*******************************************************/
/* STYLE FOR EVENT BLOCK */
.event {
    width: 65%;
    height: auto;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
}

.picInEvent {
     width: 100%;
}

.infoHackaton{
    margin-top: 25px;
    margin-left: 20px;
}

.nameHackaton {
    font-size: 35px;
}

.littleAbout {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 100%;
}

.seeMore {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 25px;
}
/* END STYLE FOR EVENT BLOCK */
/*******************************************************/

.footer {
    height: 100px;
    background-color: #000000;

    /* width: 100%; */
    margin: 0;
}

/*******************************************************/
/*******************************************************/
/*******************************************************/
/* PAGE EVENT */
.eventContainer{
    width: 60%;
    color: black;
    margin: 3% auto;
}

.picInEventPage{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.themeInEventPage{
    padding: 3%;
    font-size: 30px;
}

.dateInEventPage{
    padding: 3%;
}


.formChangeEvent{
    padding: 5%;
    margin: 0 auto;
}


.centerBotton{
    margin-right: auto;
    margin-left: auto;
}

.changeInformationBottom {
    margin: 15px;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    cursor: pointer;
}

/*FOR CHANGE INFO BLOCK*/
.createEventForChangeInfo{
    background-color: #f7861dd2;
    z-index: 9999;
    display: none;
    width: 40%;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
}

.exitFromChangeEvent{
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}