<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot Mustache</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2>Users</h2>
<table>
    <tr>
        <th>Id</th>
        <th>login</th>
        <th>password</th>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>phone number</th>
        <th>personal info</th>
    </tr>

    {{#users}}
    <tr>
        <th>{{id}}</th>
        <th>{{login}}</th>
        <th>{{password}}</th>
        <th>{{firstName}}</th>
        <th>{{lastName}}</th>
        <th>{{email}}</th>
        <th>{{phoneNumber}}</th>
        <th>{{personalInfo}}</th>
    </tr>
    {{/users}}

</table>
</body>
</html>